@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200..700&family=Playwrite+AU+SA:wght@100..400&display=swap');

:root{
    --color-primario:#000000;
    --color-secundario:#40A2D8;
    --color-tercierio:#dfefff;
    --destacar-boton:#F0EDCF;
    

    --fuente-garamond: "Cormorant Garamond", serif;
    --fuente-oswald: "Oswald", sans-serif;
    
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}


.header{
    padding: 2% 0% 0% 15%;
    
    
}

.header_menu{
    display: flex;
    gap: 80px
}

.header_menu_link{
   font-family: var(--fuente-garamond);
  font-size: 1.5rem;
  
    font-weight: 600;
    color: var(--color-tercierio);
    text-decoration: none;
    padding: 0 10px;
    
}




.destacar{color: var(--color-tercierio)
}


.presentacion{
    display: flex;
    align-items: center;
    padding: 0% 19%;
    justify-content: space-between;
    gap: 20px 20px;
    gap: 82px;
    
}

.contenidoooo{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cambiar_tipografia{
    font-size: 2rem;
    font-family: "Oswald", sans-serif;

}

.tipografia{
    font-size: 1.5rem;
    font-family: "Cormorant Garamond", serif;
    color: var(--color-tercierio);
}

.botonera_para_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulos{
    font-family: 'krona one', sans serif;
    font-size: 1.5rem;
    font-weight: 400;
    
}
   

.enlace_1 {
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    color: var(--color-secundario);
    border-radius: 4%;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--color-tercierio);
    display: flex;
    justify-content:center;
    gap: 2px;
}

.enlace_1:hover{
    background-color: var(--destacar-boton);

}


.presentacion_imagen{
    width: 90%;
}

.footers{
    background-color: var(--color-secundario);
    font-family: var(--fuente-oswald);
    padding: 20px;
    color: var(--color-tercierio);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    
}


@media (max-width: 1200px){

    .header{
        padding: 10%;
    }

    .header_menu{
        justify-self: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .contenidoooo{
        width: auto;
    }
}

